<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello Space</title>

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Martel&family=Roboto+Mono:wght@200;400;700&family=Space+Mono:wght@700&display=swap"
      rel="stylesheet"
    />

    <!-- FONT AWESOME -->
    <script
      src="https://kit.fontawesome.com/cd3168c95c.js"
      crossorigin="anonymous"
    ></script>

    <!--CSS -->
    <link rel="stylesheet" href="/public/styles.css" />

    <!-- JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  </head>
  <body>
    <nav>
      <div class="navbar">
        <div class="nav-menu">
          <ul class="nav-items">
            <li><a href="/">HOME</a></li>
            <li><a href="/">ABOUT</a></li>
            <li><a href="/">CONTACT</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </body>
</html>
