<%- include('partials/heading') %>
<div class="content-container flex-container">
  <h1 class="big-heading">Hello Space!</h1>
  <div class="screen">
    <h2 class="sub-heading" id="demo">
      <!-- Check out NASA's Astronomy Photo of the Day -->
    </h2>
  </div>
  <div class="home-buttons">
    <div class="link-wrapper">
      <a href="/apod">
        <i class="fa-solid fa-rocket"></i>
      </a>
      <p>Show APOD</p>
    </div>

    <div class="link-wrapper">
      <a href="/search">
        <i class="fa-solid fa-satellite"></i>
      </a>
      <p>Search Photos</p>
    </div>
  </div>
</div>

<%- include('partials/footer', {scriptURL: "/public/home.js"}) %>
