<%- include('partials/heading') %>

<div class="search-wrapper">
  <label for="search">Enter a keyword</label>
  <input type="search" name="" id="search" />
</div>
<%- include('partials/footer', {scriptURL: "/public/home.js"}) %>
